[submodule "Bank Project With (OOP)"]
	path = Bank Project With (OOP)
	url = https://github.com/MohamedRaghebOmer/Bank-Project-With-OOP-.git
[submodule "ATM Project"]
	path = ATM Project
	url = https://github.com/MohamedRaghebOmer/ATM-Project.git
